---
layout: default
title: Thank You for Voting
---

<div class="container">
    <h1>Thank You for Voting <br> in the PC.com <br> Readers Choice Awards!</h1>
    <p>Want to win a <strong>brand-new lorem ipsum?</strong> <br>Share your vote to increase your chances!</p>
    
    <div class="share-buttons">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://emptycrwn.github.io/PcAwards2025/" class="facebook" target="_blank">Facebook</a>
        <a href="https://twitter.com/intent/tweet?text=I+just+voted+for+the+liveatPC.com+Awards+2025!" class="twitter" target="_blank">Twitter/X</a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://emptycrwn.github.io/PcAwards2025/" class="linkedin" target="_blank">LinkedIn</a>
        <a href="https://api.whatsapp.com/send?text=I+just+voted+for+the+liveatPC.com+Awards+2025!" class="whatsapp" target="_blank">WhatsApp</a>
        <a href="https://www.instagram.com/" class="instagram" target="_blank">Instagram</a>
    </div>
</div>
